<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001965250482-9iluulnoe3atntfedekc1gc8ur7nso7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001965250482-9iluulnoe3atntfedekc1gc8ur7nso7g</string>
	<key>API_KEY</key>
	<string>AIzaSyBbDovkrx1gC6dEfvXrvyxqXyFUC8UzOMA</string>
	<key>GCM_SENDER_ID</key>
	<string>1001965250482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kuday.TinderFirestoreClone</string>
	<key>PROJECT_ID</key>
	<string>tinderclone-79c6d</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderclone-79c6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001965250482:ios:c39cd8d064e11632e366ab</string>
</dict>
</plist>